html,
body{
  font-family: 'Sen', sans-serif !important;
  font-size: 18px !important;
  color: #010F0F !important;
  background-color: #EFF7F7 !important;
  /* cursor: url('img/cursor.png'), auto; */
}

h1, h2, h3 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}



#plataformeModal .modal-content{
  background-color: #392fa0;
  color: white;
}
.modal-dialog-centered{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width:auto;
  min-height: 100%;
}

.modal-content{
  border: none !important;
  border-radius:6px;
  margin:auto;
  background-color:#f0f8ff;
  padding:30px 15px;
}
@media (min-width: 768px) {
  .modal-dialog-centered{
    min-height: calc(100% - (1.75rem * 2));
  }
  .modal-content{
    max-height:80vh;
    padding:60px;
  }
}
.plataforme-btn{
  border: 2px solid #97dffc !important;
  box-shadow:0 0 9px 0 rgba(54,215,255,.5);
  background-color: transparent !important;
  background-image: none !important;
}
.plataforme-btn:before{
  background-image: none !important;
}
.plataforme-btn:hover{
  color: #392fa0 !important;
  background-color: #97dffc !important;
  background-image: none !important;
}
.sword-btn{
  position: relative;
  background-image: linear-gradient(to right,#fc6c4d,#e5092b);
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 100px;
  transition: all .5s;
  min-width: 140px;
  margin: 30px auto 0;
  display: block;
}
.critical-btn span,
.sword-btn span{
  position: relative;
  z-index: 4;
  font-style: normal !important;
}
.sword-btn:focus{
  outline:none;
}
.sword-btn:hover::before{
  opacity: 1;
}
.sword-btn::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    -webkit-border-radius: 119px;
    -moz-border-radius: 119px;
    border-radius: 119px;
    background-image: -webkit-linear-gradient(to right,#e5092b,#fc6c4d);
    background-image: -moz-linear-gradient(to right,#e5092b,#fc6c4d);
    background-image: -o-linear-gradient(to right,#e5092b,#fc6c4d);
    background-image: linear-gradient(to right,#e5092b,#fc6c4d);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    opacity: 0;
    z-index: 2;
}
.prozis-btn:hover{
    background: #a51616;
    opacity: 1;
    background-image: none !important;
}
.prozis-btn:hover::before{
  background-image: none !important;
}
.prozis-btn{
  padding: 13px 18px;
    font-size: 15px;
  background: #d90000;
  background-image: none;
  color: #fff;
  box-shadow: 0 2px 0 0 #a51616;
  text-decoration: none;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  border: none;
  text-shadow: none;
  font-size: 15px;
}
.critical-btn:hover{
  opacity: .6;
}
.critical-btn:before{
  content: none;
}
.critical-btn{
    margin: 30px auto;
    color: #fff;
    background-color: #0077c8;
    background-image: none;
    border-color: #0077c8;
    transition: all .5s;
    min-width: 140px;
    margin: 30px auto 0;
    display: block;
    border-radius: 6px;
    padding: 10px 20px;
}
.container--shrink{
  max-width: 800px;
  margin: auto;
}
@media (min-width: 1400px) {
  .container--shrink{
    max-width: 900px;
  }
}
.project-card:hover .title{
  text-decoration: underline;
}
.project-card{
  position: relative;
  width: 400px;
  height: 480px;
  margin: 0 auto;
  z-index: 3;
}
@media (max-width: 768px) {
.project-card{
    width: 100%;
  }
}
.project-card__mockup{
  transform: translateZ(20px);
}

.project-card__caption{
  bottom: 100px;
  right: 0;
  z-index: 1;
  position: absolute;
}
@media (max-width: 768px) {
  .project-card__caption{
    right: auto;
    left: 20%;
  }
  .project-card__info .title{
    font-size: 1.8rem !important;
  }
}
.project-card__info .year{
  font-size: 1.3rem;
  margin-top: 24px;
  font-family: 'Roboto Mono', monospace;
}

.project-card__info{
  position: relative;
}
.project-card__info .title{
  margin-bottom: 8px !important;
  font-size: 2rem;
  color: #010F0F;
  transition: 1s all ease-in;
}
.project-card__info .title:hover{
  text-decoration: underline;
}

.project-card__info .link{
  margin-top: 5px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .project-card__info .link{
    margin-top: 15px;
  }
}
.project-card__image{
  height: 100%;
  width: 100%;
}
@media (min-width: 1400px) {
  .project-card__image{
    max-width: 95%;
  }
}
.project-card__mockup{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}
.project-card__image-bg{
  position: absolute;
  top:-30px;
  left:-30px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}

@media (min-width: 768px) {
  .projects-list{
    width: 410px;
    margin: auto;
  }
}

.projects-list__el{
  cursor: pointer;
}
.projects-list__el:nth-of-type(odd) .title{
  /* color: #F68084; */
}
.projects-list__el:nth-of-type(even) .title{
  /* color: #3562E8; */
}
.projects-list__el:nth-of-type(n+2){
  margin-top: 30px;
}
@media (min-width: 768px) {
  .projects-list__el:nth-of-type(n+2){
    margin-top: 60px;
  }
}
@media (min-width: 1200px) {
  .projects-list__el:nth-of-type(n+2){
    margin-top: 90px;
  }
}


.profile-gallery li{
  display: inline-block;
  height: 260px;
}
@media (max-width: 1200px) {
  .profile-gallery li{
    height: 200px;
  }
}
@media (max-width: 992px) {
  .profile-gallery li{
    height: 190px;
  }
}
@media (max-width: 762px) {
  .profile-gallery li{
    height: 160px;
  }
}
@media (max-width: 500px) {
  .profile-gallery li{
    height: 100px;
  }
}
.profile-gallery li div{
  min-width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav{
  position: fixed;
  top: 30px;
  right: 30px;
  left: 30px;
  z-index: 2;
}


nav .logo{
  width: 95px;
  height: auto;
  display: block;
  float: left;
}
@media (max-width: 768px) {
  nav{
    top: 16px;
    left: 16px;
    right: 16px;
  }
  nav .logo{
    width: 85px;
  }
}

nav .logo img{
  width: 100%;
}

nav .menu{
  float: right;
}


nav .menu a{
  line-height: 35px;
  position: relative;
  display: block;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 800;
  color: #065B5A;
  text-align: right;
}
nav .menu a:hover, nav .menu a:active, nav .menu .active{
  color: #E20813;
  text-decoration: none;
}
@media (max-width: 768px) {
  nav .menu a{
    font-size: .9rem;
  }
}

/*
nav a:hover::after{
   height: 45px; 
}
nav a::after{
  content: '';
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  height: 5px;
  border-radius: 4px;
  background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  z-index: -1;
  transition: .3s all ease-in-out;
}
*/
.img{
  width: 100%;
  height: auto;
  margin-top:30px;
  margin-bottom:30px;
  box-shadow: 0px 5px 5px rgba(0,0,0, .25);
}
.img-solo{
  display: block;
  margin: auto;
  width: 80%;
}
@media (min-width: 768px) {
  .img-solo{
    width: 35%;
  }
}
.photo-bottom,
.photo{
  width: 100%;
  height: 20px auto;
}
@media (min-width: 768px) {
  .photo-bottom,
  .photo{
    margin:60px 0;
  }
}
.photo-bottom{
  margin:0 0 20px !important;
}
@media (min-width: 768px) {
  .photo-bottom{
    margin:0 0 60px !important;
  }
}
@media (min-width: 768px) {
  .img{
    margin-top:60px;
    margin-bottom:60px;
  }
}
.img-2{
  width: 45%;
  float: left;
  height: auto;
  margin: 0 2%;
}
.img-list img{
  width: 20%;
  float: left;
}
.home-banner{
  height: 100vh;
  width: 100vw;
  display: table-cell;
  vertical-align: middle;
}
.home-banner::after{
  content: '';
  display: block;
  background-color: #99C7C8;
  height: 60vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@media (min-width: 781px) { 
  .home-banner::after{
    height: 40vh;
  }
}
@media (min-width: 820px) { 
  .home-banner::after{
    height: 45vh;
  }
}
@media (min-width: 1000px) { 
  .home-banner::after{
    height: 25vh;
  }
}
@media (min-width: 1250px) { 
  .home-banner::after{
    height: 10vh;
  }
}
@media (min-width: 1600px) { 
  .home-banner::after{
    height: 5vh;
  }
}
@media (min-width: 1700px) { 
  .home-banner::after{
    height: -20vh;
  }
}
@media (min-width: 1900px) { 
  .home-banner::after{
    height: -25vh;
  }
}
@media (min-width: 2100px) { 
  .home-banner::after{
    height: -30vh;
  }
}
.home-banner__img{
  min-width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
}
.home-banner .big-title{
  font-family: 'Gloria Hallelujah', cursive; 
}

.big-title{
  position: relative;
  z-index: 3;
  text-align: center;
  margin: auto;
  max-width: 80%;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #065B5A;
  /* text-transform: uppercase; */
}

@media (min-width: 700px) {
  .big-title{
    max-width: 60%;
    font-size: 2rem;
    line-height: 2.6rem;
  }
}
@media (min-width: 1024px) {
  .big-title{
    max-width: 60%;
    font-size: 2.6rem;
    line-height: 3rem;
  }
}
@media (min-width: 1200px) {
  .big-title{
    max-width: 40%;
  }
}
.big-title a{
  text-decoration: underline;
  color: inherit;
  position: relative;
}
.big-title a:hover{
  color: #E20813;
}

@media (min-width: 912px) {

  .home-banner a.who:hover::after,
  .home-banner a.what:hover::after{
    display: block;
  }
}

.home-banner a.what::after{
  content: url(img/what.gif);
  display: none;
  position: absolute;
  top: 70%;
  left: 90%;
  z-index: 1;
}

.home-banner a.who::after{
  content: url(img/who.gif);
  display: none;
  position: absolute;
  bottom: 15%;
  right: -15%;
  z-index: 1;
}

.home-banner img{
 position: absolute;
 top: 60vh;
 right: 0;
 left: 0;
 width: 100%;
}


@media (min-width: 768px) { 
  .home-banner img{
    top: 40vh;
  }
}
@media (min-width: 820px) { 
  .home-banner img{
    top: 45vh;
  }
}

@media (min-width: 1000px) { 
  .home-banner img{
    top: 25vh;
  }
}
@media (min-width: 1250px) { 
  .home-banner img{
    top: 10vh;
  }
}
@media (min-width: 1600px) { 
  .home-banner img{
    top: 5vh;
  }
}
@media (min-width: 1700px) { 
  .home-banner img{
    top: -20vh;
  }
}
@media (min-width: 1900px) { 
  .home-banner img{
    top: -25vh;
  }
}
@media (min-width: 2100px) { 
  .home-banner img{
    top: -30vh;
  }
}

.subtitle{
  color: #065B5A;
  margin-top:0;
  margin-bottom:0;
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 400;
}
@media (max-width: 768px) { 
  .subtitle{
    margin-bottom: 16px !important;
  }
}

.big-text{
  font-size: 1.1rem;
  line-height: 1.8rem;
  font-family: 'Roboto', sans-serif;
  color: #141414;
  font-weight: 400;
}
.title{
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 1px;
}
.bg-text {
    -webkit-transform: translate(-15%, -40%);
    -ms-transform: translate(-15%, -40%);
    transform: translate(-15%, -40%);
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 5rem;
    letter-spacing: .5rem;
    text-transform: uppercase;
    color:#a6c0fe;
    font-weight: bold;
    opacity: .2;
}
@media (max-width: 510px) {
  .bg-text {
    display: none;
  }
}
@media (max-width: 768px) {
  .bg-text {
    font-size: 3rem;
    line-height: 3.4rem;
      -webkit-transform: translate(-20%, -40%);
      -ms-transform: translate(-20%, -40%);
      transform: translate(-20%, -40%);
    }
}

.text--big{  
  font-size: 2rem!important;
  line-height: 2.1rem !important;
}
.text--medium{  
  font-size: 1.3rem!important;
  line-height: 1.6rem !important;
}

.text{
  color: #141414;
  font-family: 'Sen', sans-serif;
  margin-top:0;
  margin-bottom:0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}


.text .subsubtitle{
  display: inline-block;
  font-style: normal;
}
.text p{
  margin: 0;
}
.smaller-text{
  margin-top:0;
  margin-bottom:0;
  font-size: .9rem;
  line-height: 1.6rem;
  font-weight: 300;
}

.section{
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {

  .section{
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
.section__header{
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .section__header{
    margin-bottom: 60px;
    margin-top: 60px;
  }
  .section__header .bg-text{
   top:-50px;
 }
}
.section__header.fixed{
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  z-index: -2;
}
.section__header .bg-text{
 transform: none;
 top:-40px;
 left: 0;
 right:0;
}
.section__header .text{
  color: grey;
}
.section__header .title{
  font-size: 2rem;
}

@media (min-width: 1200px) {
  .section__header{
    margin-bottom: 60px;
  }
}
.section__content{
  margin-top: 30px;
}
@media (min-width: 1200px) {
  .section__content{
    margin-top: 60px;
  }
}
.shape{
  z-index: 0;
  position: absolute;
  top:50px;
  left:0;
  right:0;
  max-width: 100%;
  margin: auto;
  height: 550px;
  border-radius: 50px;
  background: rgb(204,153,255);
  /* background: linear-gradient(17deg, rgba(204,153,255,1) 0%, rgba(102,204,255,1) 100%); */
  /* background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
  background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.profile{
  margin-bottom: 120px;
}
@media (max-width: 768px) {
  .profile{
    margin-bottom: 30px;
  }
}
.profile__photo{
   position: relative;
   height: auto;
   cursor: hover;
}

.profile__photo img{
  z-index: 2;
  position: relative;
  width: 100%;
}
.profile__photo img:hover{

}

.profile__photo svg{
  z-index: 3;
   position: absolute;
   top:12px;
   left:0;
   right: 50px;
   max-width: 25%;
   margin: auto;
}
@media (max-width: 768px) {
  .profile__photo svg{
    top: 7px;
    right: 34px;
    /* right: 30px; */
  }
  .profile__likes{
    margin-bottom: 60px;
  }
}

.profile__intro{
  color: #504984;
  margin-top: 30px;
}
.profile__likes{
  text-align: center;
  border-top: 1px solid #8c8c8c;
  border-bottom: 1px solid #8c8c8c;
  margin-bottom: 120px;
}
@media (max-width: 768px) {
  .profile__likes{
    margin-bottom: 30px;
  }
}

.profile__likes p, .profile__likes a{
  margin: 10px 0;
  color: #141414;
}
.profile__likes a:hover{
  text-decoration: underline;
  color: #E20813;
}

.profile__likes span{
  font-weight: 800;
}

@media (min-width: 768px) {

    
  .profile__likes p{
    display: inline-block;
    width: 33%;
  }
  .profile__intro{
    margin-top: 0;
    color: #504984;
    padding-left: 20%;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
}

.profile__intro .big-title{
  margin-bottom: 30px;
}
@media (max-width: 768px) {

  .profile__intro .big-title{
    margin-bottom: 20px;
  }
}
.path{
   stroke-dasharray: 1000;
   stroke-dashoffset: 1000;
   animation: dash 5s ease-in-out alternate infinite;
}


@keyframes dash {
   from{
      stroke-dashoffset: 1000;
   }
  to {
     stroke-dashoffset: 0;
  }
}

.nav-tabs{
  margin: auto;
  display: block;
  width: 230px;
  border-bottom:none !important;
}
.nav-tabs li{
  position: relative;
  transition: .3s all ease-in-out;
  margin: 0 5px;
}
.nav-tabs>li>a{
  margin-right:0 !important;
  z-index: 1;
  background-color: transparent !important;
  color: #a6c0fe;
  font-size: 1rem;
  transition: .3s all ease-in;
}
.nav-tabs li a:hover{
  border-color: transparent !important;
  color: #3562E8;
}
.nav-tabs li::after{
  content: '';
  position: absolute;
  bottom: 2px;
  left:0;
  right:0;
  height: 5px;
  border-radius: 4px;
  background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  transition: .3s all ease-in-out;
}
.nav-tabs li.active a {
  color: white !important;
  border-color: transparent !important;
}
.nav-tabs li.active::after {
  border:none !important;
  height: 45px;
}
.tab-content{
  margin-top:30px;
}
@media (min-width: 768px) {
  .tab-content{
    margin-top:60px;
  }
  .content .col-sm-3{
    text-align: right;
  }
}
.content:nth-of-type(n+2){
  margin-top: 60px;
}
.resume-img{
  width: 100%;
  height: auto;
}

.websites-list{
  list-style: none;
  text-align: center;
  padding-left: 0;
}
.websites-list li{
  /* transition: 1s all ease-in; */
  position: relative;
}
@media (min-width: 768px) {
  .websites-list li:nth-of-type(n+2){
    margin-top: 60px;
  }
}
.websites-list li:hover a{
color: #3562E8;
}
.websites-list li:hover .bg-text{
  opacity: .2;
}
.websites-list li .bg-text{
  opacity: 0;
  transition: .4s all ease-in;
  transform: translate(0, -40%);
  -webkit-transform: translate(0, -40%);
  -ms-transform: translate(0, -40%);
  left: 0;
  right: 0;
  margin: auto;
  display: block;
}
.websites-list li:hover img{
  visibility: visible;
}
.websites-list li a{
  position: relative;
  line-height: 60px;
  display: block;
  z-index: 3;
  color: #a6c0fe;
  transition: .3s all ease-in;
}
.websites-list a:hover{
  text-decoration: none;
}

.websites-list a:hover::before{
  /* background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%); */
}

.websites-list li img{
  width: 50%;
  height: auto;
  visibility: hidden;
  position: absolute;
  margin: auto;
  top:0;
  bottom:0;
  /* left:0; */
  right:0;
  display: block;
  z-index: 1;
  opacity: .4;
}
.footer{
  z-index: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #99C7C8;
  padding:90px 0 30px;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .footer{
    padding:40px 0 20px; 
  }
}
.to-right{
  text-align: right;
}
@media (max-width: 768px) {
  
  .footer__name{
    font-size: 1.3rem;
  }
  .footer__links{
    margin-top: 60px;
  }
  .to-right{
    text-align: left;
  }
}

.footer__name{
  font-size: 2rem;
  line-height: 2rem;
  margin: 0 0 16px;
}

.footer__mail{
  cursor: text;
  font-size: 1rem;;
}
.footer__links{
  margin-top: 110px;
}
.footer__link{
  font-size: .9rem;
  line-height: 35px;
  transition: .3s all ease-in;
  text-decoration: underline;
  color: #010F0F;
}
.footer__link:hover{
  color: #E20813;
}
ul{
  list-style: none;
  padding-left: 0;
}
ul li{
  margin-bottom: 16px;
}
.video{
}
.icon-download{
  width: 30px;
  height: 30px;
  text-align: center;
  display: inline-block;
}
.icon-download:hover{
  opacity: .6;
}
.link{
  display: block;
  line-height: 35px;
  color: #a6c0fe;
  font-size: 14px;
  transition: max-width .3s ease-in;
}
.link:hover{
  color: #3562E8;
  text-decoration: none;
}
.link-download__hidden{
  opacity: 0;
  display: none;
  position: relative;
  color: white;
  font-size: 16px;
  padding: 0 5px;
  transition: opacity 1s ease-in;
}
.link-download:hover{
  max-width: 170px;
  text-decoration: none;
}
.link-download:hover .link-download__hidden{
  display: inline-block;
  opacity: 1;
  transition: opacity 1s ease-in;
}
@media (max-width: 768px) {
  .link-download{
    display: none;
  }
}
.link-download:hover{
  color: white;
  opacity: .7;
}

.link-download{
  display: block;
  padding: 0 16px;
  position: fixed;
  margin: auto;
  top:0;
  bottom:0;
  right:0;
  height: 44px;
  line-height: 44px;
  text-align: center;
  display: block;
  background-color: #065B5A;
  color: white;
  border-radius: 4px 0 0 4px;
  transition: all .3s ease-in;
}

.topics{
  margin-bottom: 60px;
  border-top: 1px solid #065B5A;
  border-bottom: 1px solid #065B5A;
  padding: 16px 0;
}
@media (max-width: 768px) {
  .topics{
    margin-bottom: 30px;
  }
  .topics div{
    margin-bottom: 16px;
  }
}
.topics p{
  margin: 0;
}
.topics span{
  text-transform: uppercase;
  font-weight: 800;
}

.banner-img{
  margin: auto;
  max-width: 100%;
  height: auto;
  max-height: 440px;
  display: block;
}

.top-banner img{
  width: 100%;
}
.top-banner{
  position: absolute;
  top: calc(100vh - 441px);  
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  box-sizing: content-box;
}
@media (min-width: 768px) {
  .top-banner{
  }
}

.top-banner__svg-bottom,
.top-banner__svg-top{
  position: absolute;
  left:0;
  right:0;
  z-index: -1;
}
.top-banner__svg-top{
  top:-50px;
}
@media (min-width: 768px) {
  .top-banner__svg-top{
    top:-140px;
  }
}
@media (min-width: 1090px) {
  .top-banner__svg-top{
    top:-150px;
  }
}
@media (min-width: 1200px) {
  .top-banner__svg-top{
    top:-170px;
  }
}
@media (min-width: 1300px) {
  .top-banner__svg-top{
    top:-200px;
  }
}
@media (min-width: 1500px) {
  .top-banner__svg-top{
    top:-230px;
  }
}
@media (min-width: 1600px) {
  .top-banner__svg-top{
    top:-260px;
  }
}
.top-banner__svg-bottom{
  bottom:-70px;
}
@media (min-width: 768px) {
  .top-banner__svg-bottom{
    bottom:-170px;
  }
}
@media (min-width: 1090px) {
  .top-banner__svg-bottom{
    bottom:-190px;
  }
}
@media (min-width: 1200px) {
  .top-banner__svg-bottom{
    bottom:-210px;
  }
}
@media (min-width: 1300px) {
  .top-banner__svg-bottom{
    bottom:-230px;
  }
}
@media (min-width: 1400px) {
  .top-banner__svg-bottom{
    bottom:-240px;
  }
}
@media (min-width: 1500px) {
  .top-banner__svg-bottom{
    bottom:-260px;
  }
}
@media (min-width: 1600px) {
  .top-banner__svg-bottom{
    bottom:-320px;
  }
}
.grey-bg{
  background-color: #F5F5F5;
}
.slideshow-wrapper{
  position: relative;
  overflow: hidden;
}
.slideshow-wrapper .img{
  position: absolute;
  top:0;
  left:0;
  right:0;
  margin-top: 0;
  margin-bottom: 0;
}
.slideshow-wrapper .slideshow{
  /* margin: 0 110px; */
  /*padding-top: 20px;*/
  cursor: grab;
}
.slideshow__img{
  max-width: 100%;
  height: 500px;
  background-position: top;
  background-size: cover;
  margin: 0 15px;
}
@media (min-width: 1024px) {
  .slideshow__img{
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .slideshow__img{
    height: 500px;
  }
}
@media (min-width: 1400px) {
  .slideshow__img{
    height: 550px;
  }
}

.slideshow-wrapper .slideshow__arrows{
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
}
.slideshow-wrapper .slideshow__arrows .slick-prev,
.slideshow-wrapper .slideshow__arrows .slick-next{
  width: 40px;
  height: 30px;
  background-position: center;
  background-size: contain;
  margin: auto;
  opacity: .2;
  text-indent: 2000em;
  border: none;
  transition: .3s all ease-in;
}
.slideshow-wrapper .slideshow__arrows .slick-prev:hover,
.slideshow-wrapper .slideshow__arrows .slick-next:hover{
  opacity: .4;
}
.slideshow-wrapper .slideshow__arrows .slick-prev:focus,
.slideshow-wrapper .slideshow__arrows .slick-next:focus{
  opacity: .4;
  outline: none;
}
.slideshow-wrapper .slideshow__arrows .slick-prev{
  background-image: url(img/left-arrow.svg);
}
.slideshow-wrapper .slideshow__arrows .slick-next{
  background-image: url(img/right-arrow.svg);
}

@media (min-width: 768px) {
  .right{
    float: right !important;
  }
}

@media (max-width: 768px) {
  .col-xs-4{
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}